@page "/Customer/Edit/{id}"

@using RazorPages.Samples.Web
@using RazorPages.Samples.Web.Data
@model Customer
@inherits EditCustomer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "All about interesting people";
}

<h2>Edit Customer</h2>
@if (ShowSuccessMessage || ShowErrorMessage) {
    <div class="alert alert-@(ShowSuccessMessage ? "success" : "danger") alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
        @(ShowSuccessMessage ? SuccessMessage : ErrorMessage)
    </div>    
}
<form method="post" class="form-inline">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <input type="submit" value="Save" class="btn btn-primary" />
    <a class="btn btn-default" href="/">Cancel</a>
    <div asp-validation-summary="@ValidationSummary.All" class="text-danger"></div>
</form>